.header {
  // position: fixed;
  z-index: 100;
  width: 100%;
  background-color: #755139 !important;
  border-bottom: none;

  &__logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  &__nav {
    background-color: #755139 !important;
    color: white !important;
  }
}

.ant-menu-horizontal {
  border-bottom: 0 !important;
}