.panel__img {
  background-image: url('/index.jpeg');
  // img {
  //   width: 100%;
  //   height: 65vh;
  // }
  background-size: cover;
  height: 100%;
}

.ant-carousel .slick-slide {
  text-align: center;
  // height: 100%;
  line-height: 65vh;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}