html {
  font-size: 62.5%; }

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
textarea,
span,
div,
html,
body,
html a {
  margin-bottom: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

.header {
  z-index: 100;
  width: 100%;
  background-color: #755139 !important;
  border-bottom: none; }
  .header__logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left; }
  .header__nav {
    background-color: #755139 !important;
    color: white !important; }

.ant-menu-horizontal {
  border-bottom: 0 !important; }

.footer {
  background-color: #333 !important;
  text-align: center;
  color: white !important; }

.content {
  background-color: #ffffff; }

.panel__img {
  background-image: url("/index.jpeg");
  background-size: cover;
  height: 100%; }

.ant-carousel .slick-slide {
  text-align: center;
  line-height: 65vh;
  background: #364d79;
  overflow: hidden; }

.ant-carousel .slick-slide h3 {
  color: #fff; }
